nav {
  background-color: #27187e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 90px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav h1 {
  font-size: 32px;
}

nav .header-links {
  display: flex;
  align-items: center;
}

nav .header-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff8600;
  transition: background-color 0.3s;
}

nav .header-links a:hover {
  background-color: #f6982c;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: #f1f2f6;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #aeb8fe;
  padding: 10px;
  margin-top: auto;
  height: 36px;
}

footer button {
  background-color: #758bfd;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer button:hover {
  background-color: #27187e;
}
