nav {
  background-color: #27187e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 90px;
}

nav h1 {
  font-size: 32px;
}
.popoverList {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 40vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  z-index: 100;
  background-color: white;
  border: 1px solid #27187e;
  border-radius: 10px;
  padding: 8px;
  list-style: none;
}

nav .header-links {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: end;
  gap: 20px;
}

nav .header-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff8600;
  transition: background-color 0.3s;
}

nav .header-links a:hover {
  background-color: #f6982c;
}
@media (max-width: 600px) {
  nav .header-links {
    display: none;
  }

  nav .popoverList li {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff8600;
    transition: background-color 0.3s;
    text-align: center;
  }
  nav .popoverList a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav .popoverList a:hover {
    background-color: #f6982c;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: #f1f2f6;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card-red {
  background-color: red;
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #aeb8fe;
  padding: 10px;
  margin-top: auto;
  height: 36px;
}

footer button {
  background-color: #758bfd;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer button:hover {
  background-color: #27187e;
}

.menuIcon {
  --s: 20px;
  --c: white;

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  cursor: pointer;
  transition: background-position 0.15s var(--_s, 0.15s),
    clip-path 0s var(--_s, 0.3s);
  appearance: none;
}
.menuIcon:before,
.menuIcon:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.15s - var(--_s, 0.15s));
}

.menuIcon:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menuIcon:checked:before {
  transform: rotate(45deg);
}
.menuIcon:checked:after {
  transform: rotate(-45deg);
}
.menuIcon:focus-visible {
  clip-path: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}
